<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Add Car</h4>
	</div>
	<div class="panel-body">

	   <div class="form-group">
		<label for="makeSelect"> Select Make: </label>
		<select name="makeSelect" id="makeSelect" class="form-control" 
	      ng-options="make.title for make in makes track by make.id"
	      ng-model="makeSelect"
	      ng-change="filterModels(makeSelect.id)">
	      <option value="">---Please select make---</option> <!-- not selected / blank option -->
	      </select>
      </div>

      <div class="form-group">
      	<label for="modelSelect"> Select Model: </label>
		<select name="modelSelect" id="modelSelect" class="form-control" 
	      ng-options="model.title for model in filteredModels track by model.id"
	      ng-model="modelSelect">
	      <option value="">---Please select model---</option>
	      </select>
      </div>

      <div class="form-group">
	      <label for="email"> Description: </label>
	      <input type="text" ng-model="description" class="form-control" id="email" placeholder="Enter description">
	  </div>
	  
	  <div class="form-group">
		  <label for="pwd"> Mileage: </label>
		  <input type="text" ng-model="mileage" class="form-control" id="pwd" placeholder="Enter mileage">
	  </div>

	  <div class="form-group">
		  <label for="pwd"> Purchase Price: </label>
		  <input type="text" ng-model="price" class="form-control" id="pwd" placeholder="Enter price">
	  </div>

	  <div class="form-group">
		  <label for="pwd"> Sale Price: </label>
		  <input type="text" ng-model="price" class="form-control" id="pwd" placeholder="Enter price">
	  </div>

	  <div class="form-group">
      	<label for="supplier"> Supplier: </label>
		<select name="supplier" id="supplier" class="form-control" 
	      ng-options="model.title for model in filteredModels track by model.id"
	      ng-model="supplier">
	      <option value="">---Please select supplier---</option>
	      </select>
      </div>

      <hr>
  	  <tt>make option = {{makeSelect.id}}</tt><br/>
  	  <tt>model option = {{modelSelect.id}}</tt><br/>

	</div>
	<div class="panel-footer">
		<h4>Add Car Footer</h4>
	</div>
</div>