<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Add Car</h4>
	</div>
	<div class="panel-body">

	<form name="carForm" ng-submit="">

	  <div class="form-group">
		<label for="makeSelect"> Select Make: </label>
		<select name="makeSelect" id="makeSelect" class="form-control" 
	      ng-options="make.title for make in makes track by make.id"
	      ng-model="makeSelect"
	      ng-change="filterModels(makeSelect.id)">
	      <option value="">---Please select make---</option> <!-- not selected / blank option -->
	      </select>
      </div>

      <div class="form-group">
      	<label for="modelSelect"> Select Model: </label>
		<select name="modelSelect" id="modelSelect" class="form-control" 
	      ng-options="model.title for model in filteredModels track by model.id"
	      ng-model="modelSelect">
	      <option value="">---Please select model---</option>
	      </select>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : carForm.description.$invalid && !carForm.description.$pristine }">
	      <label for="description"> Description: </label>
	      <input type="text" ng-model="description" class="form-control" id="description" name="description" placeholder="Enter description" required>
	  </div>
	  
	  <div class="form-group" ng-class="{ 'has-error' : carForm.mileage.$invalid && !carForm.mileage.$pristine }">
		  <label for="mileage"> Mileage: </label>
		  <input type="text" ng-model="mileage" class="form-control" id="mileage" name="mileage" placeholder="Enter mileage" required>
	  </div>

	  <div class="form-group" ng-class="{ 'has-error' : carForm.year.$invalid && !carForm.year.$pristine }">
		  <label for="year"> Year: </label>
		  <input type="text" ng-model="year" class="form-control" id="year" name="year" placeholder="Enter year" required>
	  </div>

	  <div class="form-group" ng-class="{ 'has-error' : carForm.purchaseprice.$invalid && !carForm.purchaseprice.$pristine }">
		  <label for="purchaseprice"> Purchase Price: </label>
		  <input type="text" ng-model="purchaseprice" name="purchaseprice" class="form-control" id="pwd" placeholder="Enter price" required>
	  </div>

	  <div class="form-group" ng-class="{ 'has-error' : carForm.purchaseprice.$invalid && !carForm.purchaseprice.$pristine }">
		  <label for="salesprice"> Sale Price: </label>
		  <input type="text" ng-model="salesprice" class="form-control" id="salesprice" name="salesprice" placeholder="Enter price" required>
	  </div>

	  <div class="form-group">
      	<label for="supplier"> Supplier: </label>
		<select name="supplier" id="supplier" class="form-control" 
	      ng-options="supplier.name for supplier in suppliers track by supplier.id"
	      ng-model="supplier">
	      <option value="">---Please select supplier---</option>
	      </select>
      </div>

      <hr>

	    <button type="submit" class="btn btn-primary">Submit</button>

	  <hr>

    </form>

      <hr>
  	  <tt>make option = {{makeSelect.id}}</tt><br/>
  	  <tt>model option = {{modelSelect.id}}</tt><br/>

	</div>
	<div class="panel-footer">
		<h4>Add Car Footer</h4>
	</div>
</div>