

	<h2 class="page-header">Test Drive Request
	<a ng-if="!UserId" class="btn btn-success pull-right" ng-click="complete('md')" href="">
              Complete Test Drive
    </a>
    <a ng-if="UserId" class="btn btn-danger pull-right" href="">
              Test Drive Completed
    </a>
	</h2>

<div class="panel panel-default">
	<div class="panel-body">

		<div class="row">       			
			<div class="col-md-6 col-sm-3">
				<h4 class="page-header">Name</h4>
				<span class="text-muted">{{name}}</span>
			</div>
		</div>
		<div class="row">       			
			<div class="col-md-6 col-sm-3">
				<h4 class="page-header">Phone</h4>
				<span class="text-muted">{{phone}}</span>
			</div>
		</div>
		<div class="row">       			
			<div class="col-md-6 col-sm-3">
				<h4 class="page-header">Email</h4>
				<span class="text-muted"><a href="mailto:email">{{email}}</a></span>
			</div>
		</div>
	</div>
</div>