<div class="panel panel-default">
	
	<div class="panel-heading" ng-if="!isEdit">
		<h4>Add Supplier</h4>
	</div>

	<div class="panel-heading" ng-if="isEdit">
		<h4>Edit Supplier</h4>
	</div>

	<div class="panel-body">

	<div class="row">
      <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>	

		<form name="supplierForm" ng-submit="submit()">

			<div class="row">

				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error' : supplierForm.name.$invalid && !supplierForm.name.$pristine }">
				      <label for="name">Name*:</label>
				      <input type="text" ng-model="name" class="form-control" name="name" id="name" placeholder="Enter name" required>
				    </div>
				</div>

				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error' : supplierForm.address.$invalid && !supplierForm.address.$pristine }">
				      <label for="address">Address*:</label>
				      <input type="text" ng-model="address" class="form-control" name="address" id="address" placeholder="Enter address" required>
				    </div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
				      <label for="addresstwo">Address:</label>
				      <input type="text" ng-model="addresstwo" class="form-control" name="addresstwo" id="addresstwo" placeholder="Enter address">
				    </div>
				</div>

				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error' : supplierForm.city.$invalid && !supplierForm.city.$pristine }">
				      <label for="city">City*:</label>
				      <input type="text" ng-model="city" class="form-control" name="city" id="city" placeholder="Enter city" required>
				    </div>
				</div>

			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error' : supplierForm.email.$invalid && !supplierForm.email.$pristine }">
				      <label for="email">Email*:</label>
				      <input type="email" ng-model="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
				      <p ng-show="supplierForm.email.$invalid && !supplierForm.email.$pristine" class="help-block">Enter a valid email.</p>
				    </div>
				</div>

				<div class="col-md-6">
					<div class="form-group" ng-class="{ 'has-error' : supplierForm.phone.$invalid && !supplierForm.phone.$pristine }">
				      <label for="phone">Phone Number*:</label>
				      <input type="text" ng-model="phone" class="form-control" name="phone" id="phone" placeholder="Enter phone number" required>
				    </div>
				</div>

			</div>

			<hr>

		    <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>

		    <hr>

		</form>

	</div>
	
	<div class="panel-footer" ng-if="!isEdit">
		<h4>Add Supplier</h4>
	</div>

	<div class="panel-footer" ng-if="isEdit">
		<h4>Edit Supplier</h4>
	</div>

</div>