<div class="container">

  <h1 class="page-header">Cars
    <div align="center">
      <input style="width: 80%;" class="form-control" ng-model="searchText" placeholder="Search phrase.."/>
    </div>
    
  </h1>

  <!-- <div class="row" align="center" style="margin-bottom: 10px;">
    <div class="col-md-12">
      <input style="width: 80%;" class="form-control" ng-model="search.title" placeholder="Search phrase.."/>
    </div>    
  </div> -->
  

  <div class="row" ng-repeat="car in cars.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::car.id">

      <div class="col-sm-4" ng-init="photos = getCarPhotos(car.images)">
        
        <div id="carousel_{{car.id}}" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            <div class="item active">
              <img class="thumbnail" ng-src="{{photos[0].image}}">              
            </div>

            <div class="item" ng-repeat="photo in photos" ng-if="$index >= 1">
              <img class="thumbnail" ng-src="{{photo.image}}">
            </div>

          </div>
        </div>

        <div class="clearfix">

          <div id="thumbcarousel_{{car.id}}" class="carousel slide" data-interval="false">

            <div class="carousel-inner" ng-init="mythumbnails = getCarThumbnails(car.images)">

              <div class="item active">

                <div data-target="#carousel_{{car.id}}" ng-repeat="photo in mythumbnails[0] track by $index" data-slide-to="{{$index}}" class="thumb">
                
                <img ng-src="{{photo.image}}">
                </div>
                
              </div>

              <div class="item" ng-repeat="photoArray in mythumbnails track by $index" ng-if="$index >= 1">
                
                <div data-target="#carousel_{{car.id}}" ng-repeat="photo in photoArray track by $index" data-slide-to="{{$index}}" class="thumb">
                
                <img ng-src="{{photo.image}}">
                </div>

              </div>
              
            </div>

            <a class="left carousel-control" href="" role="button" data-target="#thumbcarousel_{{car.id}}" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="" role="button" data-slide="next" data-target="#thumbcarousel_{{car.id}}">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
          </div>
          
        </div>

      </div>

      <div class="col-sm-8">
        <a href="" ng-click="viewCar(car)">
          <h4>{{car.header}}</h4> 
        </a>            
            <h4>$ {{car.salePrice}}</h4>
            <p ng-init="text = displayText(car.description)">{{text}}</p>
        </div>
      
    </div>

    <div class="row" align="center">

      <div class="col-sm-12">

        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
        
      </div>
      
    </div>

</div>



<!-- <div class="panel panel-default">
	<div class="panel-heading">
		<h4>Cars</h4>
        <input class="form-control" ng-model="search.title" placeholder="Search Name.."/>
	</div>
	<div class="panel-body">


		<div class="row" ng-repeat="car in cars.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by ::car.id">

			<div class="col-sm-6" ng-init="photos = getCarPhotos(car.images)">
				
				<div id="carousel_{{car.id}}" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner"> -->

						<!-- <div class="item active">
							<img ng-src="{{photos[0].image}}">
						</div>

						<div class="item" ng-repeat="photo in photos track by ::photo.id">
							<img ng-src="{{photo.image}}">
						</div> -->
<!-- 						<div class="item active">
							<img ng-src="{{photos[0].image}}">							
						</div>

						<div class="item" ng-repeat="photo in photos" ng-if="$index >= 1">
							<img ng-src="{{photo.image}}">
						</div>

					</div>
				</div>

				<div class="clearfix">

					<div id="thumbcarousel_{{car.id}}" class="carousel slide" data-interval="false">

						<div class="carousel-inner" ng-init="mythumbnails = getCarThumbnails(car.images)">

							<div class="item active">

								<div data-target="#carousel_{{car.id}}" ng-repeat="photo in mythumbnails[0] track by $index" data-slide-to="{{$index}}" class="thumb">
								
								<img ng-src="{{photo.image}}">
								</div>
								
							</div>

							<div class="item" ng-repeat="photoArray in mythumbnails track by $index" ng-if="$index >= 1">
								
								<div data-target="#carousel_{{car.id}}" ng-repeat="photo in photoArray track by $index" data-slide-to="{{$index}}" class="thumb">
								
								<img ng-src="{{photo.image}}">
								</div>

							</div> -->

							<!-- <div class="item active">

								<div data-target="#carousel" ng-repeat="photo in photos track by $index" data-slide-to="{{$index}}" class="thumb">
								
								<img ng-src="{{photo.image}}">
								</div>
								
							</div> -->
							
<!-- 						</div>
						<a class="left carousel-control" href="" role="button" data-target="#thumbcarousel_{{car.id}}" data-slide="prev">
			                <span class="glyphicon glyphicon-chevron-left"></span>
			            </a>
			            <a class="right carousel-control" href="" role="button" data-slide="next" data-target="#thumbcarousel_{{car.id}}">
			                <span class="glyphicon glyphicon-chevron-right"></span>
			            </a>
					</div>
					
				</div>

			</div>

			<div class="col-sm-6">
				<a href="" ng-click="viewCar(car)">
					<h4>{{car.header}}</h4>	
				</a>		        
		        <h4>$ {{car.salePrice}}</h4>
		        <p>{{car.description}}</p>
		    </div>
			
		</div> -->



		<!-- <div class="row">
    <div class="col-sm-6">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://placehold.it/350x250/e8117f/fff&amp;text=Product+Main">
                </div>
                <div class="item">
                    <img src="http://placehold.it/350x250/00ffff/000&amp;text=Product+Image+2">
                </div>
                <div class="item">
                    <img src="http://placehold.it/350x250/ff00ff/fff&amp;text=Product+Image+3">
                </div>
                <div class="item">
                    <img src="http://placehold.it/350x250/ffff00/000&amp;text=Product+Image+4">
                </div>
                <div class="item">
                    <img src="http://placehold.it/350x250/612b65/fff&amp;text=Product+Image+5">
                </div>
                <div class="item">
                    <img src="http://placehold.it/350x250/00ffff/000&amp;text=Product+Image+6">
                </div>
                <div class="item">
                    <img src="http://placehold.it/350x250/db371b/fff&amp;text=Product+Image+7">
                </div>
                <div class="item">
                    <img src="http://placehold.it/350x250/feb8aa/000&amp;text=Product+Image+8">
                </div>
            </div>
        </div> 
    <div class="clearfix">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="http://placehold.it/100/e8117f/fff&amp;text=Product+Main"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="http://placehold.it/100/00ffff/000&amp;text=Product+Image+2"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="http://placehold.it/100/ff00ff/fff&amp;text=Product+Image+3"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="http://placehold.it/100/ffff00/000&amp;text=Product+Image+4"></div>
                </div>
                <div class="item">
                    <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="http://placehold.it/100/612b65/fff&amp;text=Product+Image+5"></div>
                    <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="http://placehold.it/100/00ffcc/000&amp;text=Product+Image+6"></div>
                    <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="http://placehold.it/100/db371b/fff&amp;text=Product+Image+7"></div>
                    <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="http://placehold.it/100/feb8aa/000&amp;text=Product+Image+8"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#/cars/#thumbcarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#/cars/#thumbcarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> 
    </div>
    </div>
    <div class="col-sm-6">
        <h2>Products</h2>
        <h3>Some product subhead</h3>
        <p>Product description goes here.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>

    </div>
  </div> -->
	<!-- </div> -->
		<!-- <table class="table table-striped">
            <tbody>
            <tr ng-repeat="car in cars.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by ::car.id">
              <td>
                <table class="table" border="1">
                  <tbody>
                  <tr>
                    <td>
                      <h3>{{car.header}}</h3>
                    </td>
                  </tr>
                  <tr>
                  	<td>
                      {{car.description}}
                    </td>
                  </tr>
                  <tr>
                  	<td colspan="2" ng-init="photos = getCarPhotos(car.images)">                  	
                  		<img class="img-thumbnail img-responsive" ng-src="{{photos[0].image}}" width="50%" height="50%">
                  	</td>
                  </tr>
                  <tr>
                  <td>
                  	<div class="carousel-inner">
                  		<div class="row-fluid">
	                	  <div class="span3" ng-repeat="photo in photos track by ::photo.id"><a href="#x" class="thumbnail"><img ng-src="{{photo.image}}" alt="Image" style="max-width:100%;" /></a></div>
	                	</div>
                  	</div>
                  	</td>
                  </tr>
                  <tr>
					<td colspan="4">

						<div class="col-xs-6 col-md-3" ng-repeat="photo in photos track by ::photo.id">
					    <a href="#" class="thumbnail">
					      <img class="img-thumbnail img-responsive" ng-src="{{photo.image}}">
					    </a>
					  </div>
						<div class="row">

							<div class="col-sm-3" ng-repeat="photo in photos track by ::photo.id">
								<img class="img-thumbnail img-responsive" ng-src="{{photo.image}}">
							</div>
							
						</div>
						<table border="2">
							<tbody>
								<tr>
									<td ng-repeat="photo in photos track by ::photo.id">
				                  		<img ng-src="{{photo.image}}" width="40%" height="40%">
				                  	</td>
								</tr>
							</tbody>
						</table>
					</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
                <td colspan="4" align="center">

                <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
                
                </td>
            </tr>
            </tbody>
        </table> -->

	<!-- </div> -->
	<!-- <div class="panel-footer">
		<h4>Cars Footer</h4>
	</div>
</div> -->