<div class="jumbotron">

<div class="container">
    <h1 class="page-header">Contact Details</h1>
    <p>If there is any in which we can assist you in making your lives easier please don't hesitate to contact us using the details below.</p>
  </div>
</div>



<div class="container">
      
      <div class="row">
        <div class="col-md-4">
          <h2 class="page-header">Telephone</h2>
          <div class="row">            
            <div class="col-md-8">
              <b>Office hours</b>
            </div>
          </div>
          <div class="row" style="margin-top: 4px;">            
            <div class="col-md-8">
              Mon - Fri 08:00 - 17:35
            </div>
          </div>
          <div class="row" style="margin-top: 4px;">            
            <div class="col-md-8">
              Sat - Sun Closed
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">            
            <div class="col-md-8">
              <b>Telephone</b>
            </div>
          </div>
          <div class="row" style="margin-top: 4px;">            
            <div class="col-md-8">
              +(27) 41 484 2426
            </div>
          </div>
        </div>

        <div class="col-md-4">

          <h2 class="page-header">Physical Address</h2>
          <div class="row">            
            <div class="col-md-8">
              10A Dobson St
            </div>
          </div>
          <div class="row" style="margin-top: 7px;">            
            <div class="col-md-8">
              Northend
            </div>
          </div>
          <div class="row" style="margin-top: 7px;">            
            <div class="col-md-8">
              Port Elizabeth
            </div>
          </div>
          <div class="row" style="margin-top: 7px;">            
            <div class="col-md-8">
              6001
            </div>
          </div>
       
       </div>

        <div class="col-md-4">
          <h2 class="page-header">Postal Address</h2>
          <div class="row">            
            <div class="col-md-8">
              10A Dobson St
            </div>
          </div>
          <div class="row" style="margin-top: 7px;">            
            <div class="col-md-8">
              Northend
            </div>
          </div>
          <div class="row" style="margin-top: 7px;">            
            <div class="col-md-8">
              Port Elizabeth
            </div>
          </div>
          <div class="row" style="margin-top: 7px;">            
            <div class="col-md-8">
              6001
            </div>
          </div>
        </div>
      </div>

      <hr>

</div>

