<div class="jumbotron" style="background-image: url('../images/bgjumbotron.png');">
  <h3 class="adminheader">Auto-Family IMS/CMS Portal</h3>
  <p class="lead">
    <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    <img src="images/bgjumbotron.png" alt="IMS/CMS Settings" style="width:70%; height:70%; float: right;"><br>
    <!-- Always a pleasure scaffolding your apps. -->
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="row marketing">
  <!-- <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p> -->
</div>
