<h1 class="page-header">Reports
		
</h1>
<div align="center">
<input class="form-control" style="width: 80%;" ng-model="searchText" placeholder="Search phrase.."/>
</div>
<br>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">

			<div class="col-md-12">
				<div class="form-group">
					<label>Select Report:</label>
					<select name="reporttype" class="form-control" ng-options="item as item.title for item in items track by item.id" ng-model="reportType" ng-change="reportSelectChanged()">
						<option value="">--- Please select report type ---</option>
					</select>
				</div>
			</div>
			
		</div>

		<div ng-if="reportType.id == 1"class="row">

			<div class="col-md-12">

	          <div class="table-responsive">

	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Name</th>
	                  <th>Email</th>
	                  <th>Phone</th>
	                  <th>Date Request</th>
	                  <th>Completion Date</th>
	                  <th>Completed By</th>
	                </tr>
	              </thead>
	              <tbody>

	                <tr ng-repeat="testdrive in testdrives.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::testdrive.id">

	                  <td>{{testdrive.id}}</td>
	                  <td>{{testdrive.name}}</td>
	                  <td>{{testdrive.email}}</td>
	                  <td>{{testdrive.phone}}</td>
	                  <td ng-init="dateFormatted = formatDate(testdrive.requestDate)">{{dateFormatted}}</td>
	                  <td ng-init="completeDateFormatted = formatDate(testdrive.completeDate)">{{completeDateFormatted}}</td>
	                  <td>{{testdrive.UserId}}</td>
	                </tr>

	              </tbody>
	            </table>

	          </div>

	        </div>

	    </div>

	    <div ng-if="reportType.id == 2"class="row">

			<div class="col-md-12">

	          <div class="table-responsive">

	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Title</th>
	                  <th>Purchase Date</th>
	                  <th>Sale Date</th>
	                  <th>Sales Price</th>
	                  <th>Sold By</th>
	                </tr>
	              </thead>
	              <tbody>

	              	<tr ng-repeat="car in soldCars.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::car.id">
	                  <td>{{car.id}}</td>
	                  <td>{{car.header}}</td>
	                  <td ng-init="dateFormatted = formatDate(car.purchaseDate)">{{dateFormatted}}</td>
	                  <td ng-init="saleDateFormatted = formatDate(car.saleDate)">
	                  	<div ng-if="car.saleDate">
	                  	{{saleDateFormatted}}
	                  	</div>
	                  	<div ng-if="!car.saleDate">
	                  	&nbsp;
	                  	</div>
	                  	
	                  </td>
	                  <td>{{car.salePrice}}</td>
	                  <td ng-init="user = filterUserById(car.UserId)">{{user[0].email}}</td>
	                </tr>

	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>Subtotal(Excl. VAT)</label>
	                	</td>
	                	<td>
	                		{{subTotal}}
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	
	                </tr>
	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>VAT@14%</label>
	                	</td>
	                	<td>
	                		{{vat}}
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	
	                </tr>
	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>Total(Incl. VAT)</label>
	                	</td>
	                	<td>
	                		{{total}}
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	
	                </tr>

	              </tbody>
	            </table>

	          </div>

	        </div>

	    </div>

	    <div ng-if="reportType.id == 3"class="row">

			<div class="col-md-12">

	          <div class="table-responsive">

	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Title</th>
	                   <th>Purchase Date</th>
	                  <th>Purchase Price</th>
	                 
	                </tr>
	              </thead>
	              <tbody>

	                <tr ng-repeat="car in cars.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::car.id">

	                  <td>{{car.id}}</td>
	                  <td>{{car.header}}</td>
	                  <td ng-init="dateFormatted = formatDate(car.purchaseDate)">{{dateFormatted}}</td>
	                  <td>{{car.salePrice}}</td>
	                  <!-- <td ng-init="saleDateFormatted = formatDate(car.saleDate)">{{saleDateFormatted}}</td> -->
	                  
	                </tr>

	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>Subtotal(Excl. VAT)</label>
	                	</td>
	                	<td>
	                		{{subTotal}}
	                	</td>
	                </tr>

	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>VAT@14%</label>
	                	</td>
	                	<td>
	                		{{vat}}
	                	</td>
	                </tr>

	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>Total:</label>
	                	</td>
	                	<td>
	                		{{total}}
	                	</td>
	                </tr>
	              </tbody>
	            </table>

	          </div>

	        </div>

	    </div>

	    <div ng-if="reportType.id == 4"class="row">

			<div class="col-md-12">

	          <div class="table-responsive">

	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Agent Email</th>
	                  <th>Sales Total</th>
	                  <th>Commission</th>
	                </tr>
	              </thead>
	              <tbody>

	              <tr ng-repeat="agent in agents.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::agent.id">
	                  <td>{{agent.id}}</td>
	                  <td>{{agent.email}}</td>
	                  <td>{{agent.salesTotal}}</td>
	                  <td>{{agent.commission}}</td>
	                </tr>

	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>Subtotal(Excl. VAT)</label>
	                	</td>
	                	<td>
	                		{{subTotal}}
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	
	                </tr>
	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>VAT@14%</label>
	                	</td>
	                	<td>
	                		{{vat}}
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	
	                </tr>
	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>Total:</label>
	                	</td>
	                	<td>
	                		{{total}}
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	
	                </tr>

	              </tbody>
	            </table>

	          </div>

	        </div>

	    </div>

	    <div class="row" align="center">

	    	<div class="col-md-12">
	    		<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>	
	    	</div>
	    	
	    </div>

			
		</div>
		
	</div>
</div>