<h1 class="page-header">Reports
		
</h1>
<input class="form-control" ng-model="search.title" placeholder="Search phrase.."/>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">

			<div class="col-md-12">
				<div class="form-group">
					<label>Select Report:</label>
					<select name="reporttype" class="form-control" ng-options="item as item.title for item in items track by item.id" ng-model="reportType" ng-change="reportSelectChanged()">
						<option value="">--- Please select report type ---</option>
					</select>
				</div>
			</div>
			
		</div>

		<div ng-if="reportType.id == 1"class="row">

			<div class="col-md-12">

	          <div class="table-responsive">

	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Name</th>
	                  <th>Email</th>
	                  <th>Phone</th>
	                  <th>Date Request</th>
	                </tr>
	              </thead>
	              <tbody>

	                <tr ng-repeat="testdrive in testdrives.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::testdrive.id" ng-click="edit(testdrive)">

	                  <td>{{testdrive.id}}</td>
	                  <td>{{testdrive.name}}</td>
	                  <td>{{testdrive.email}}</td>
	                  <td>{{testdrive.phone}}</td>
	                  <td ng-init="dateFormatted = formatDate(testdrive.requestDate)">{{dateFormatted}}</td>
	                </tr>

	              </tbody>
	            </table>

	          </div>

	        </div>

	    </div>

	    <div ng-if="reportType.id == 2"class="row">

			<div class="col-md-12">

	          <div class="table-responsive">

	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Title</th>
	                  <th>Sales Price</th>
	                  <th>Purchase Date</th>
	                  <th>Sale Date</th>
	                </tr>
	              </thead>
	              <tbody>

	                <tr ng-repeat="car in cars.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::car.id">

	                  <td>{{car.id}}</td>
	                  <td>{{car.header}}</td>
	                  <td ng-init="dateFormatted = formatDate(car.purchaseDate)">{{dateFormatted}}</td>
	                  <td ng-init="saleDateFormatted = formatDate(car.saleDate)">
	                  	<div ng-if="car.saleDate">
	                  	{{saleDateFormatted}}
	                  	</div>
	                  	<div ng-if="!car.saleDate">
	                  	&nbsp;
	                  	</div>
	                  	<td>{{car.salePrice}}</td>
	                  </td>
	                </tr>

	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>Sales Total:</label>
	                	</td>
	                	<td>
	                		{{salesTotal}}
	                	</td>
	                	
	                </tr>

	              </tbody>
	            </table>

	          </div>

	        </div>

	    </div>

	    <div ng-if="reportType.id == 3"class="row">

			<div class="col-md-12">

	          <div class="table-responsive">

	            <table class="table table-striped">
	              <thead>
	                <tr>
	                  <th>#</th>
	                  <th>Title</th>
	                   <th>Purchase Date</th>
	                  <th>Purchase Price</th>
	                 
	                </tr>
	              </thead>
	              <tbody>

	                <tr ng-repeat="car in cars.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::car.id">

	                  <td>{{car.id}}</td>
	                  <td>{{car.header}}</td>
	                  <td ng-init="dateFormatted = formatDate(car.purchaseDate)">{{dateFormatted}}</td>
	                  <td>{{car.salePrice}}</td>
	                  <!-- <td ng-init="saleDateFormatted = formatDate(car.saleDate)">{{saleDateFormatted}}</td> -->
	                  
	                </tr>

	                <tr>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		&nbsp;
	                	</td>
	                	<td>
	                		<label>Purchase Total:</label>
	                	</td>
	                	<td>
	                		{{purchaseTotal}}
	                	</td>
	                </tr>

	              </tbody>
	            </table>

	          </div>

	        </div>

	    </div>
			
		</div>
		
	</div>
</div>