<div class="panel panel-default">

  <div class="panel-heading" ng-if="!isEdit">
  <h4>Register New User
  
  </h4>
  </div>
  <div class="panel-heading" ng-if="isEdit">
  <h4>Edit User
  
  </h4>
  </div>  
<div class="panel-body">
  <form name="userForm" ng-submit="add(UsersType)">     
    
      <div class="row">

        <div class="col-md-4">
          <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <label for="email">Email:</label>
        <input type="email" ng-model="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
      </div>
        </div>
        
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="form-group" ng-class="{ 'has-error' : userForm.pwd.$invalid && !userForm.pwd.$pristine }">
            <label for="pwd">Password:</label>
            <input type="password" ng-model="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password" required>
          </div>
        </div>
        
      </div>

      <div class="row" ng-show="principal.UserTypeId == UserType.Admin">
        <div class="col-md-4">
          <div class="form-group">
            <label>User Type</label>
            <select name="usertype" class="form-control" ng-options="item as item.title for item in items track by item.id" ng-model="UsersType">
            <option value="">--- Please select user type ---</option>
            </select>
          </div>
        </div>        
      </div>     
      
      <hr>

      <button id="submitBtn" type="submit" id="submitButton" class="btn btn-primary">Submit</button>

      <hr>

  </form>
</div>
  <div class="panel-footer" ng-if="!isEdit">
    <h4>New User Registration</h4>
  </div>
  <div class="panel-footer" ng-if="isEdit">
    <h4>Edit User</h4>
  </div>
</div>