<div ng-if="!isStyle" class="panel panel-default">
  
  <div class="panel-heading">
    
    <h4>Events</h4>

    <div align="center">
      <input style="width: 80%;" class="form-control" ng-model="searchText" placeholder="Search phrase.."/>
    </div>

  </div>
  
  <div class="panel-body">

    <div class="row">

      <div class="col-md-12">

        <div class="row" ng-repeat="event in events.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::event.id">

			<div class="col-sm-4" align="center">
				<img class="thumbnail" ng-src="{{event.images}}" width="80%" height="80%">
			</div>

			<div class="col-sm-4">
				<h3>{{event.title}}</h3>	
				<h4>{{event.header}}</h4>
				<p>{{event.description}}</p>
				
			</div>

			<div class="col-sm-4">
				<h4 class="muted-text">Start Date:</h4>
				<span ng-init="dateFormatted = formatDate(event.startDate)">{{dateFormatted}}</span>
				<h4 class="muted-text">End Date:</h4>
				<span ng-init="endDateFormatted = formatDate(event.endDate)">{{endDateFormatted}}</span>
			</div>
			
		</div>

      </div>

    </div>


    <div class="row" align="center">

      <div class="col-sm-12">

        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>

      </div>

    </div>
    
  </div>

  <div class="panel-footer">
    <h4>Events</h4>
  </div>

</div>

<div ng-if="isStyle" class="container">
	
	<h1 class="page-header">Events
	<div align="center">
	<input style="width: 80%;" class="form-control" ng-model="searchText" placeholder="Search phrase.."/>
	</div>

	</h1>

    <div class="row">

    	<div class="col-md-12">
		
		<div class="row" ng-repeat="event in events.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:searchText track by ::event.id">

			<div class="col-sm-4" align="center">
				<img class="thumbnail" ng-src="{{event.images}}" width="80%" height="80%">
			</div>

			<div class="col-sm-4">
				<h3>{{event.title}}</h3>	
				<h4>{{event.header}}</h4>
				<p>{{event.description}}</p>
				
			</div>

			<div class="col-sm-4">
				<h4 class="muted-text">Start Date:</h4>
				<span ng-init="dateFormatted = formatDate(event.startDate)">{{dateFormatted}}</span>
				<h4 class="muted-text">End Date:</h4>
				<span ng-init="endDateFormatted = formatDate(event.endDate)">{{endDateFormatted}}</span>
			</div>
			
		</div>
		</div>

	</div>

	<div class="row" align="center">

      <div class="col-sm-12">

        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
        
      </div>
      
    </div>

</div>