<div class="jumbotron" style="background-image: url('../images/1457436885.jpeg');">

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Find new & used cars</div>
        <div class="panel-body">
          
          <form name="carSearchForm">

            <div class="form-group">

              <label for="makeSelect"> Select Make: </label>
              
              <select name="makeSelect" id="makeSelect" class="form-control" 
                  ng-options="make.title for make in makes track by make.id"
                  ng-model="makeSelect"
                  ng-change="filterModels(makeSelect.id)">
                  <option value="">---Please select make---</option>
              </select>

            </div>

            <div class="form-group">

              <label for="modelSelect"> Select Model: </label>
              <select name="modelSelect" id="modelSelect" class="form-control" 
                ng-options="model.title for model in filteredModels track by model.id"
                ng-model="modelSelect">
                <option value="">---Please select model---</option>
              </select>

            </div>

            <div class="row">

              <div class="col-md-6">
                <label for="minPrice"> Min: </label>
              
              <select name="minPrice" id="minPrice" class="form-control" 
                  ng-options="price.price for price in prices track by price.id"
                  ng-model="minPrice">
                  <option value="">-Min price-</option>
              </select>
              </div>

              <div class="col-md-6">
              <label for="maxPrice"> Max: </label>
              
              <select name="maxPrice" id="maxPrice" class="form-control" 
                  ng-options="price.price for price in prices track by price.id"
                  ng-model="maxPrice">
                  <option value="">-Max price-</option>
              </select>
              </div>
              
            </div>

            <div class="row" style="margin-top: 5px;">

              <div class="col-md-6">
              </div>

              <div class="col-md-6" align="right">
                <button type="submit" role="button" class="btn-md btn-primary" ng-click="searchCars()">Search</button>
              </div>
              
            </div>
            
          </form>

        </div>
      </div>   
    </div>
  </div>
  
</div>


<div class="row">
  <div class="col-md-12">
    <h4 class="page-header">News</h4>
  </div>
</div>
<div class="jumbotron">
<!-- {{news|json}} -->
  <div class="row">
    <div ng-if="$index < 3" class="col-md-4" style="background-color: lightgrey; margin-left: 5px;" ng-repeat="article in news track by ::article.id">

      <div class="row">

        <div class="col-md-2">
          <img ng-src="{{article.images}}" ng-if="article.images" width="120px;" height="80px;">
        </div>

        <div class="col-md-4">
          <h5 class="page-header">{{article.title}}</h5>  
          <span class="text-muted">{{article.header}}</span>
        </div>
        
      </div>          
          
    </div>
  </div>
</div>
