<div class="panel panel-default">
	<div class="panel-heading">
		<h4>News</h4>
        <input class="form-control" ng-model="search.title" placeholder="Search Name.."/>
	</div>
	<div class="panel-body">


		<div class="row" ng-repeat="article in news.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) track by ::article.id">

			<div class="col-sm-6" ng-init="photos = getCarPhotos(car.images)">
				
        <img ng-src="{{article.images}}">

			</div>

			<div class="col-sm-6">
				<a href="">
					<h4>{{article.title}}</h4>	
				</a>		        
		        <h4>{{article.header}}</h4>
		        <p>{{article.description}}</p>
		    </div>
			
		</div>

	</div>

<!-- 	<div class="panel-footer">
		<h4>News Footer</h4>
	</div> -->
</div>